.modalCase {
    background-color: rgba(114, 104, 104, 0.87);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define the styles for the modalContent class */
.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 1rem;
  }
  .modalContent label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .modalContent input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalContent svg {
    color: var(--base); /* Change the color as desired */
    cursor: pointer;
  }
  
.modalContent .submit-button {
    background-color: var(--base); /* Change the button's background color as desired */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modalContent .submit-button:hover {
    background-color: #0056b3; /* Change the button's background color on hover */
  }
  .close-modal{
    display: flex;
    gap: 4rem;
    align-items: top;
    justify-content: space-between;
  }